@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <hr>
    <h3>@ViewBag.Message</h3>
    <br />

    <address>
        Sergio Pires<br />
        CSE445/598<br />
        Distributed Software Development<br />
        <a href="mailto:srpires@asu.edu">srpires@asu.edu</a><br />
    </address>

</main>